.btnGerar{
  margin: 0px 0px 0px 0px;
  float: right;
  position: relative;
}

.btnCancelar{
  margin: 0px 0px 0px 0px;
  float: right;
  position: relative;
}

.lbManualSetupKey{
  margin-top: 11px;
  font-weight: bold;
}
