.modal-content {
  min-height: 550px;
  min-width: 850px;
}

.tableAnexo {
  height: 379px;
  overflow-y: auto;
  display: flow-root;
}

.imgAssinatura {
  height: 400px;
}

.DvAnexo {
  background: white;
  border-radius: 10px;
  position: fixed;
  top: 150px;
  left: 400px;
  box-shadow: 45px 45px 155px black;
}

.tdIcones {
  min-width: 100px;
}

.fileUpload {
  position: relative;
  overflow: hidden;
  margin: 10px;
}
.fileUpload input.uploadarquivo {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}



.dustModalAnexo{
  max-height: 800px !important
}

.tableAnexo{
  height: 379px;
  overflow-y: auto;
  display: flow-root;
}

.imgAssinatura{
  height: 400px;
}

.DvAnexo{
  background: white;
  border-radius: 10px;
  position: fixed;
  top: 150px;
  left: 400px;
  box-shadow: 45px 45px 155px black;
}

.tdIcones{
  min-width: 100px;
}

.fileUpload {
  border-radius: 25px;
  background-color: #ffffff;
  
}

.fileUpload input.uploadarquivo {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}

.galeria {
  padding: 40px;
  max-height: 625px;
  overflow-x: scroll;
}

.thumbnail {
  padding: 0;
  margin-bottom: 30px;
  background-color: #fff;
  border-radius: 4px;
  border: none;
  transition: 0.15s ease-in-out;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.06);
}

.caption{
  padding: 26px 30px;
  text-align: center;
}

.caption h3 {
  font-size: 14px;
  font-weight: bold;
  margin-top: 0;
}

.caption p {
  font-size: 12px;
  color: #7b7d7d;
  margin: 0;
}

.miniatura{
  width: 219px;
  height: 199.98px;
}


.progress-bar {
  background-color: #ffffff;
  border-radius: 1.25em;
  width: 300px;
  height: 16px;
}

.progress-valor {
  // background-color: #0095ff;
  background-color: #00d68f;
  animation: progress-3 3s ease-in-out forwards;
  -webkit-animation: progress-3 3s ease-in-out forwards;
}


// animação
@keyframes progress {
  from {
    width: 0;
  }
  to {
    width: 55%;
  }
}
 @-webkit-keyframes progress {
  from {
    width: 0;
  }
  to {
    width: 55%;
  }
}
 @keyframes progress-2 {
  from {
    width: 0;
  }
  to {
    width: 75%;
  }
}
 @-webkit-keyframes progress-2 {
  from {
    width: 0;
  }
  to {
    width: 75%;
  }
}
 @keyframes progress-3 {
  from {
    width: 0;
  }
  to {
    width: 90%;
  }
}
 @-webkit-keyframes progress-3 {
  from {
    width: 0;
  }
  to {
    width: 90%;
  }
}

