.selectPerfilMulti{
  height: 200px;
}

.botoesCentrais{
  margin-top: 40px;
}

.botoesCentrais .divBotao{
  margin-top: 20px;
}

.rowCritica{
  margin-top: 10px;
}

.rowPermitirUrgencia, .rowPermitirCritico{
  padding-top: 13px;
  padding-bottom: 13px;
}

.btnSalvar{
  margin: 0px 5px 0px 00px;
  float: right;
}

.btnCancelar{
  margin: 0px 40px 0px 00px;
  float: right;
}

.DvBotoes{
  margin-top: 20px;
    padding: 14px 5px 74px 55px;
    bottom: 0;
    position: relative;
}