<h2>Mascara Laudo</h2>
<toaster-container [toasterconfig]="config"></toaster-container>
<div class="dustForm">
  <!-- <form class="row" (submit)="Salvar($event)"> -->
  <div class="col-md-12 row">
    <div class="form-group row col-md-12">
      <label class="col-sm-1 col-form-label">Descrição</label>
      <div class="col-sm-4">
        <input id="descricao" name="descricao" class="form-control" required minlength="3" [(ngModel)]="mascaraLaudo.descricao" #name="ngModel"/>
        <ap-vmessage *ngIf="erroDescricao" text="{{erroDescricao}}"></ap-vmessage>
      </div>
    </div>
    <div class="form-group row col-md-12">
      <label class="col-sm-1 col-form-label">Modalidade</label>
      <div class="col-sm-2">
        <input id="modalidade" name="modalidade" class="form-control" required minlength="3" [(ngModel)]="mascaraLaudo.modalidade" #name="ngModel">
        <ap-vmessage *ngIf="erroModalidade" text="{{erroModalidade}}"> </ap-vmessage>
      </div>
    </div>
    <div class="form-group row col-md-12">
      <label class="col-sm-1 col-form-label">Laudo</label>
      <div class="col-sm-10">
        <!--
          <ckeditor name="laudo" [(ngModel)]="mascaraLaudo.laudo" [config]="{ extraPlugins: 'divarea', height: '320' }"></ckeditor>
        -->
        <ck-editor name="laudo" [config]="ckeConfig" #myckeditor="ngModel" [(ngModel)]="mascaraLaudo.laudo" skin="moono-lisa" language="pt-br" [fullPage]="true"></ck-editor>
      </div>
    </div>
    <div class="form-group row col-md-12">
      <div class="offset-sm-1 col-sm-1">
        <div class="checkbox">
          <nb-checkbox name="status" [(ngModel)]="mascaraLaudo.status">Ativo</nb-checkbox>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer row col-md-12 DvBotoes">
    <button class="btnCancelar btn btn-md btn-primary" (click)="Cancelar()">Cancelar</button>
    <button class="btnSalvar btn btn-md btn-primary" (click)="Salvar()">Salvar</button>
  </div>
  <!-- </form> -->
</div>
