<nb-card>
  <nb-card-header>
    <label>Empresa</label>
    <label class="label-btn-novo"><a (click)="Novo()"><i title="Novo" class="fa fa-plus fnteditar" aria-hidden="true"></i>Novo</a></label>
  </nb-card-header>

  <nb-card-body>
    <toaster-container [toasterconfig]="config"></toaster-container>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Nome Fantasia</th>
          <th>Razão Social</th>
          <th>CNPJ</th>
          <th>Ativo</th>
          <th>Criado por</th>
          <th>Data de Criação</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr (dblclick)="Modal(empresa)" *ngFor="let empresa of listaEmpresa">
          <td>{{empresa.nomeFantasia}}</td>
          <td>{{empresa.razaoSocial}}</td>
          <td>{{empresa.cnpj}}</td>
          <td><i *ngIf="empresa.status" title="Status" class="fa fa-check fntstatus" aria-hidden="true"></i></td>
          <td>{{empresa.log.insertUsuarioId}}</td>
          <td>{{empresa.log.insertDataFormatada}}</td>
          <td class="tdIcones">
            <a (click)="Modal(empresa)" disabled class="btntr">
              <i title="Editar" class="far fa-edit fnteditar" aria-hidden="true"></i>
            </a>
            <a (click)="Deletar(empresa)" disabled class="btntr">
              <i title="Deletar" class="fa fa-times fntdeletar" aria-hidden="true"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>

  </nb-card-body>
</nb-card>
