<div class="modal-header">
  <span>Resumo</span>
  <button class="close" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<!-- <div class="col-md-6">
    <div class="col-md-12 row">
        <label class="col-sm-8 col-form-label">Total de itens</label>
        <label class="col-sm-3 col-form-label lbValor">{{totalItens}}</label>
      </div>
      <div class="col-md-12 row">
        <label class="col-sm-8 col-form-label">Total de itens laudados</label>
        <label class="col-sm-3 col-form-label lbValor">{{totalItensLaudados}}</label>
      </div>
      <div class="col-md-12 row">
        <label class="col-sm-8 col-form-label">Total de itens a laudar</label>
        <label class="col-sm-3 col-form-label lbValor">{{totalItensLaudar}}</label>
      </div>
      <div class="col-md-12 row">
        <label class="col-sm-8 col-form-label">Total de itens a comfimar</label>
        <label class="col-sm-3 col-form-label lbValor">{{totalItensConfimar}}</label>
      </div>
      <div class="col-md-12 row">
        <label class="col-sm-8 col-form-label">Total de itens laudados</label>
        <label class="col-sm-3 col-form-label lbValor">{{totalItensDesconciderados}}</label>
      </div>
      <div class="col-md-12 row">
        <label class="col-sm-8 col-form-label">Total de itens a laudar</label>
        <label class="col-sm-3 col-form-label lbValor">{{totalItensComparacao}}</label>
      </div>
      <div class="col-md-12 row">
        <label class="col-sm-8 col-form-label">Total de itens a comfimar</label>
        <label class="col-sm-3 col-form-label lbValor">{{totalItensTrasmissao}}</label>
      </div>
      <div class="dustModal">
        <div class="modal-footer row col-md-12">
          <button class="btn btn-sm btn-primary" (click)="closeModal()">
            Cancelar
          </button>
        </div>
      </div>
</div>
<div class="col-md-6"> -->
    <div echarts [options]="chartOption" class="demo-chart"></div>
<!-- </div> -->

