.divInformacoes{
  font-size: 11px;
  padding: 10px 0px 5px 0px;
}

.divInformacoes .info{
  padding: 0px 0px 0px 8px;
}

.divPrioridade{
  padding: 0px 0px 20px 30px;
}

.divPrioridade div{
  padding: 0px 20px 0px 0px;
}

.divConfirmacao{
  padding: 20px 22px 10px 30px;
}

.DvBotoes{
  float: right;
}

.notification {
  position: relative;
  display: inline-block;
}

.notification .badgeAnexo {
  position: absolute;
  top: -7px;
  right: -1px;
  padding: 4px 6px;
  border-radius: 50%;
  background: green;
  color: white;
  font-size: 66% !important;
}

.rbRotina{
  margin-left: 10px;
}
