
nb-tabset {
  width: 100%;
}

.btnSalvar{
  margin: 0px 55px 0px 00px;
  float: right;
}

.btnCancelar{
  margin: 0px 50px 0px 00px;
  float: right;
}
.DvBotoes{
  margin-top: 20px;
    padding: 14px 5px 74px 55px;
    bottom: 0;
    position: relative;
}

.dvIcones{
  padding: 10px 0px 0px 0px;
}

.dvIcones i{
  font-size: 17px;
  padding: 0px 13px 0px 13px;
}

.dvIcones a{
  height: 30px;
}

.labelExames{
  color: black;
}

.buscar {
  float: right;
  border-radius: 10px;
  height: 30px;
}

.btnAlterarPaciente{
  float: left;
}

