<div class="modal-header">
  <span>Paciente atual: {{fileDCM.pacienteNome}}</span>
  <button class="close" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="dustModalExameAnteriores">
  <nb-card>
    <nb-card-header>
      <div class="row">
        <div class="col-md-4 buscar form-group">
          <div class="row ">
            <label class="col-md-5">Buscar</label>
            <input (keyup)="setfiltro()" type="text" class="form-control col-md-7 buscar" name="searchString"
              [(ngModel)]="searchString" />
          </div>
        </div>
      </div>
    </nb-card-header>
    <nb-card-body>
      <toaster-container [toasterconfig]="config"></toaster-container>
      <table class="table table-hover tableWorklist">
        <thead>
          <tr>
            <th></th>
            <th>Data do Exame</th>
            <th>Data do Envio</th>
            <th title="Tempo para Laudar.">TPL</th>
            <th>Paciente</th>
            <th title="Modalidade do Exame.">Mod.</th>
            <th>Body Party / Descrição</th>
            <th>Instituição</th>
            <th>Unidade</th>
          </tr>
        </thead>
        <tbody>
          <tr [ngClass]="fileDCM.prioridade == 'urgente'? 'warning'
              : fileDCM.prioridade == 'critico'? 'danger'
              : ''" *ngFor="let fileDCM of pagedItems">
            <td class="tdIcones tdIconesLeft">
              <a (click)="Notas(fileDCM)" class="btntr notification">
                <span *ngIf="fileDCM.countNota > 0" class="badgeNota">{{fileDCM.countNota}}</span>
                <i [ngClass]="fileDCM.pendente ? 'fa-comments' : 'fa-comment'" title="Notas"
                  class="fa col-md-1 btncomment" aria-hidden="true"></i>
              </a>
              <a (click)="Anexos(fileDCM)" class="btntr notification">
                <span *ngIf="fileDCM.countAnexo > 0" class="badgeAnexo">{{fileDCM.countAnexo}}</span>
                <i title="Anexos" class="fa fa-paperclip col-md-1 btnpaperclip" aria-hidden="true"></i>
              </a>
            </td>
            <td
              title="Data do Exame: {{fileDCM.date_study_formatada}} - Data do Envio: {{fileDCM.data_envio_formatada}}">
              {{ fileDCM.date_study_formatada }}
            </td>
            <td
              title="Data do Exame: {{fileDCM.date_study_formatada}} - Data do Envio: {{fileDCM.data_envio_formatada}}">
              {{ fileDCM.data_envio_formatada }}
            </td>
            <td [ngClass]="fileDCM.tempoParaLaudar.substr(0,1) == '-'? 'tdTPLatrasado': ''"
              title="Tempo restante para o exame ser laudado {{fileDCM.tempoParaLaudar}}. Confirmação em {{fileDCM.dateConfirmacaoFormatada}}">
              {{ fileDCM.tempoParaLaudar }}
            </td>
            <td (dblclick)="dbfiltro(fileDCM.pacienteNome)"
              title="Sexo: {{fileDCM.paciente.sexo}} - Data Nasc.: {{fileDCM.paciente.dataNascimento_formatada}}">
              {{ fileDCM.pacienteNome }}
            </td>
            <td (dblclick)="dbfiltro(fileDCM.modality)">{{ fileDCM.modality }}</td>
            <td (dblclick)="dbfiltro(fileDCM.body_part)">{{ fileDCM.body_part }} <span
                *ngIf="fileDCM.body_part && fileDCM.studyDesc">/</span>
              {{ fileDCM.studyDesc }}</td>
            <td (dblclick)="dbfiltro(fileDCM.institution)">{{ fileDCM.institution }}</td>
            <td (dblclick)="dbfiltro(fileDCM.facilityDesc)">{{ fileDCM.facilityDesc }}</td>
            <td class="tdIcones tdIconesRigth">
                <a *ngIf="fileDCM.statusExamesFormatado == 'laudado' || fileDCM.subStatusExamesFormatado == 'laudar_reiterpretacao'"
                  (click)="SelecionarTemplateImpressao(fileDCM)" class="btntr btnFilePdf">
                  <i title="Download do laudo em pdf." class="far fa-file-pdf  col-md-1" aria-hidden="true"></i>
                </a>
                <a (click)="OpenOhif(fileDCM)" class="btntr btnFileDCM">
                  <i title="Visualizar DICOM" class="fa fa-search  col-md-1" aria-hidden="true"></i>
                </a>
                <a *ngIf="copylaudo" (click)="Copylaudo(fileDCM.Id)" class="btntr btnFileDCM">
                  <i title="Copiar laudo" class="fa fa-copy  col-md-1" aria-hidden="true"></i>
                </a>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="row pagPaciente">
        <div class="col-md-4">
          <nav class="ng2-smart-pagination-nav ng-star-inserted">
            <ul class="ng2-smart-pagination pagination">
              <li class="ng2-smart-page-item page-item" [ngClass]="{ disabled: pager.currentPage === 1 }">
                <a aria-label="First" class="ng2-smart-page-link page-link" (click)="setPage(1)">Início</a>
              </li>
              <li class="ng2-smart-page-item page-item" [ngClass]="{ disabled: pager.currentPage === 1 }">
                <a aria-label="Prev" class="ng2-smart-page-link page-link page-link-prev"
                  (click)="setPage(pager.currentPage - 1)">Anterior</a>
              </li>
              <li *ngFor="let page of pager.pages" [ngClass]="{ active: pager.currentPage === page }"
                class="ng2-smart-page-item page-item active ng-star-inserted">
                <span (click)="setPage(page)" class="ng2-smart-page-link page-link ng-star-inserted">
                  <a>{{ page }}</a>
                </span>
              </li>
              <li class="ng2-smart-page-item page-item">
                <a aria-label="Next" class="ng2-smart-page-link page-link page-link-next"
                  [ngClass]="{ disabled: pager.currentPage === pager.totalPages }"
                  (click)="setPage(pager.currentPage + 1)">Próximo</a>
              </li>
              <li class="ng2-smart-page-item page-item"
                [ngClass]="{ disabled: pager.currentPage === pager.totalPages }">
                <a aria-label="Last" class="ng2-smart-page-link page-link"
                  (click)="setPage(pager.totalPages)">Último</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </nb-card-body>
  </nb-card>
  <div class="modal-footer row col-md-12">
    <button class="btn btn-sm btn-primary" (click)="closeModal()">
      CANCELAR
    </button>
  </div>
</div>
